{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Видео</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
<style>
    header h1 a {
        text-decoration: none;
        color: #ffffff;
    }
    body {
    background-color: black;
    }
</style>
    <header>
        <h1><a href="{% url 'home' %}">YouTube</a></h1>
    </header>
    <div class="video-gallery">
        {% for i in video %}
            <div class="video-item">
                <a href="/video/{{ i.id }}">
                    <img src="{{ i.preview.url }}" alt="">
                </a>
                <h3>{{ i.video_title }}</h3>
            </div>
        {% endfor %}
    </div>
</body>
</html>

